@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.notesSection {
    display: grid;
    grid-template-columns: 190px 190px 190px;
    gap: 0.5rem;
    margin-bottom: 7.5rem;
    border-radius: 10px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 800px) {
    .notesSection {
        grid-template-columns: 190px 190px;
    }
}
@media only screen and (max-width: 600px) {
    .notesSection {
        grid-template-columns: 230px;
    }
}

.scroll {
    margin-top: 42.3px;
    margin-right: 45px;
    width: 92.5%;
    overflow: scroll;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
@media only screen and (min-width: 1050px) {
    .scroll {
        height: 87.5vh;
    }
}

@media only screen and (max-width: 600px) {
    .scroll {
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 0px;
        width: 100%;
    }
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.dndContainer {
    padding-top: 10px;
    padding-left: 10px;
    width: 80%;
}
@media only screen and (max-width: 600px) {
    .dndContainer {
        padding-left: 0px;
        width: 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.5rem;
    height: 100%;
    /* To get rid of bullet points in list */
    list-style-type: none;
}

.item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: "none";
    min-height: "50px";
}

.item:not(:last-of-type) {
    margin-bottom: 1rem;
}

.noNotes {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    color: #707070;
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-top: 50px;
}
