@import "../../App.module.css";

.Segment {
    width: 60vw;
}

.wholeContainer {
    display: flex;
    flex-direction: row;
    height: 35vh;
}

.leftContainer {
    flex-basis: 75%;
    overflow: scroll;
    direction: rtl;
    overflow-x: hidden;
}

.title {
    padding: 1vw;
    direction: ltr;
}

.content {
    /* height: 40vh; */
    overflow-wrap: anywhere;
    padding-left: 1vw;
    padding-right: 1vw;
    direction: ltr;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-basis: 25%;
}

.doneRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    gap: 5px;
    flex-basis: 13%;
}

.doneText {
    color: var(--colour-darkgray);
    font-size: var(--text-medium);
}

.fillerContainer {
    flex-basis: 27%;
}

.buttonRows {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-basis: 60%;
    justify-content: space-around;
}
