.blocks {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    height: 40%;
}

.block {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.light {
    height: 100%;
    margin-top: 0;
}

.lemonade {
    background-color: #f8eaed !important;
    height: 100%;
    margin-top: 0;
}

.sky {
    background-color: #e5f1f5 !important;
    height: 100%;
    margin-top: 0;
}

.slate {
    background-color: #e4e5ed !important;
    height: 100%;
    margin-top: 0;
}

/* .light {
    background-color: aliceblue;
    margin-top: -3%;
    margin-left: -5%;
    width: 109%;
    height: 110%;
    border-radius: 3%;
    border-style: rounded;
    border-width: 2px;
    border-color: #e0e0e0;
} */

.checkbox {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .blocks {
        grid-template-columns: 80%;
    }
}
