.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
}

.leftBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
}

.signOut {
    margin-left: 28px;
    margin-top: 30px;
}

.backButton {
    margin-bottom: 30px;
    margin-left: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 100%;
}

.heading {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.personal {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.forms {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 50%;
}

.backbutton {
    margin-top: 10px;
}

.form {
    margin-bottom: 10px;
}

.formheading {
    margin-left: 10px;
}

.formtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: -10px;
    margin-left: 11px;
    font-size: 20px;
}

.field {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    width: 325px;
    justify-content: space-between;
}

.input {
    font-size: 15px;
    margin-bottom: 38px;
    width: 325px;
}

.image {
    width: 120px;
}

.profilePic {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.profileTitle {
    font-size: 18px;
}

.passwordInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

@media only screen and (min-width: 1200px) {
    .block {
        display: flex;
        flex-direction: column;
        width: 900px;
        min-height: 300px;
    }
    .main {
        margin-top: 10vh;
        margin-left: 50px;
    }
    .leftBanner {
        width: 10vw;
    }
}

@media only screen and (max-width: 1000px) {
    .personal {
        flex-direction: column;
    }
    .block {
        display: flex;
        flex-direction: column;
        width: 400px;
        min-height: 300px;
    }
}

@media only screen and (max-width: 550px) {
    .block {
        display: flex;
        flex-direction: column;
        width: 210px;
        min-height: 300px;
    }
    .signOutText {
        visibility: hidden;
    }
    .heading {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .formtitle {
        font-size: 14px;
    }
    .input {
        width: 120px;
    }
    .field {
        margin-bottom: 0px;
        width: 150px;
    }
    .fieldButton {
        background-color: transparent !important;
    }
    .profileTitle {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    span {
        width: 100px;
        overflow: hidden;
    }
    .passwordInputs {
        flex-direction: column;
        width: 100px;
    }
}
