.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 300px;
}

.leftBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
}

.signOut {
    margin-left: 28px;
    margin-top: 30px;
}

.backButton {
    margin-bottom: 30px;
    margin-left: 30px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 100%;
}

.heading {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.personal {
    display: flex;
    justify-content: space-between;
}

.forms {
    height: 70%;
    width: 40%;
}

.backbutton {
    margin-top: 10px;
}

.form {
    margin-bottom: 10px;
}

.formheading {
    margin-left: 10px;
}

.formtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: -10px;
    margin-left: 11px;
    font-size: 20px;
}

.field {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.image {
    width: 120px;
}

.profilePic {
    width: 40%;
    height: 100%;
}

.profileTitle {
    font-size: 20px;
    margin-bottom: 40px;
}
