.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.pinnedSpacer {
    margin-bottom: 22px;
    margin-right: 22px;
}

@media only screen and (max-width: 600px) {
    .pinnedSpacer {
        margin-right: 0px;
    }
}

.noNotes {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    color: #707070;
    display: flex;
    flex-direction: row;
    width: 98%;
    margin-top: 5px;
    margin-left: 10px;
}

/* Container for the greeting, date, and link to all notes*/
.mid {
    display: flex;
    width: 73%;
    margin-top: 10%;
    align-items: stretch;
    flex-direction: row;
    align-content: top;
}

/* Container for the Icons for calendar and notes*/
.bottom {
    display: flex;
    flex-direction: row;
}

.notesPanel {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .bottom {
        flex-direction: column;
    }
}

/* Container for event notes */
.eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* For all the rows of pinned notes*/
.pinnedNotesContainer {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .pinnedNotesContainer {
        flex-direction: column;
    }
}

/* Container for left column of pinned notes */
.pinnedTopContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.pinnedBottomContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.icon {
    display: flex;
    width: 5%;
    margin-right: 20px;
}

/* eventNote box*/
.eventNote {
    display: flex;
    width: 85%;
    height: 15vh;
}

/* a gap between notes vertically */
.somethingVerticle {
    display: flex;
    width: 100%;
    height: 2vh;
}

/* a gap between notes vertically */
.somethingHorizontal {
    display: flex;
    height: 2vh;
}

.viewAllNotesContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

@media only screen and (max-width: 550px) {
    .viewAllNotesContainer {
        visibility: hidden;
    }
}

.viewNotesContainer {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 4%;
}

.greetingsContainer {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5vh;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting {
    font-size: 40px;
    line-height: 50px;
    width: 300px;
}

@media only screen and (max-width: 550px) {
    .greeting {
        font-size: 30px;
    }
}

.date {
    color: #707070;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

@media only screen and (max-width: 550px) {
    .date {
        font-size: 15px;
    }
}

.label {
    font-size: 20px;
    margin-bottom: 0px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.installPrompt {
    color: #707070;
    margin-top: 8%;
    display: flex;
}
