/* container for the pfp*/
.topcontainer {
    display: flex;
    width: 100%;
    height: 10vh;
    padding-top: 10px;
    padding-left: 10px;
}

/* Container for the greeting, date, and link to all notes*/
.midContainer {
    display: flex;
    width: 62%;
    align-items: stretch;
    flex-direction: row;
    align-content: top;
}

/* Container for the Icons for calendar and notes*/
.bottomContainer {
    display: flex;
    width: 75%;
    flex-direction: row;
}

/* Container for event notes */
.eventsContainer {
    display: flex;
    width: 38%;
    flex-direction: column;
    align-items: stretch;
<<<<<<< HEAD
=======
    background-color: rgb(255, 223, 248);
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
}

/* Container for pinned notes */
.pinnedContainer {
    display: flex;
<<<<<<< HEAD
    width: 39%;
    flex-direction: column;
=======
    width: 37%;
    flex-direction: row;
    background-color: rgb(255, 223, 248);
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
}

/* Container for Calenter icon */
.calendarContainer {
    display: flex;
    width: 8%;
<<<<<<< HEAD
=======
    background-color: rgb(216, 244, 253);
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
}

/* Container for thumbtack icon */
.tumbtackContainer {
    display: flex;
<<<<<<< HEAD
    width: 7%;
=======
    width: 8%;
    background-color: rgb(216, 244, 253);
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
}

/* eventNote box*/
.eventNote {
    display: flex;
    width: 85%;
    height: 15vh;
<<<<<<< HEAD
=======
    background-color: rgb(233, 216, 253);
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
}

/* a gap between notes vertically */
.something {
    display: flex;
    width: 100%;
<<<<<<< HEAD
    height: 2vh;
=======
    height: 5vh;
>>>>>>> b0bb9b1b39f2cd603249e77beb790fed7ef0003b
    background-color: rgb(255, 223, 248);
}

.viewAllNotesContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.viewNotesContainer {
    display: flex;
    width: 62%;
    flex-direction: row-reverse;
    align-items: center;
}

.greetingsContainer {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5vh;
}

.basecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    margin-bottom: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.label {
    font-size: 20px;
    margin-bottom: 0px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0px;
    margin-bottom: 20px;
}
