.topcontainer {
    display: flex;
    width: 100%;
    height: 10vh;
}

.midContainer {
    display: flex;
    width: 62%;
    align-items: stretch;
    flex-direction: row;
    align-content: top;
}

.bottomContainer {
    display: flex;
    width: 75%;
    flex-direction: row;
}

.calendarContainer {
    display: flex;
    width: 50%;
}

.viewAllNotesContainer {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.viewNotesContainer {
    display: flex;
    width: 62%;
    flex-direction: row-reverse;
    align-items: center;
}

.greetingsContainer {
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 5vh;
}

.basecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.date {
    margin-bottom: 0px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.label {
    font-size: 20px;
    margin-bottom: 0px;
}

.input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 250ms ease-in-out;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.heading2 {
    margin-top: 0px;
    margin-bottom: 100px;
    font-style: italic;
    font-weight: normal;
}

.footer {
    margin-bottom: 50px;
}

.rememberMe {
    margin-bottom: 15px;
}
