@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 12%;
    max-width: 10%;
    height: auto;
}

.title {
    margin-top: 2%;
    font-family: "Lato", sans-serif;
    font-size: 55px;
}

.subtitle {
    margin-top: 4%;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.inputTitle {
    margin-top: 10%;
    margin-bottom: 3%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.inputSection {
    margin-top: 2%;
    min-height: 10%;
    min-width: 19%;
    width: inherit;
}

.buttons {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .inputSection {
        min-width: 30%;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        margin-top: 20%;
        max-width: 20%;
        height: auto;
    }
    .title {
        font-size: 50px;
        margin: 20px;
    }
    .inputSection {
        min-width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    .inputSection {
        min-width: 70%;
    }
}

@media only screen and (min-width: 1600px) {
    .logo {
        margin-top: 5%;
        max-width: 10%;
        height: auto;
    }
}
