@import "../../../App.module.css";

.Segment {
    width: 50vw;
    line-height: 5vh;
}

.whole {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    padding: 1vw;
    height: auto;
    align-items: flex-start;
}

.text {
    height: 40vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: var(--font-family);
    overflow-wrap: break-word;
    overflow: auto;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
}

.leftBottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}

.editRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--colour-orange-accent);
}

.editText {
    color: var(--colour-darkgray);
    font-size: var(--text-small);
}

.rightBottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--colour-darkgray);
}

.title {
    font-family: var(--font-family);
    font-size: 2vw;
    font-weight: bold;
}

/* phone size */
@media only screen and (max-width: 500px) {
    .title {
        font-size: var(--text-small);
        line-height: 3ch;
    }
}

/* iPad size */
@media only screen and (min-width: 1024px) {
    .title {
        font-size: var(--text-medium);
        line-height: 3ch;
    }
}

/* desktop size */
@media only screen and (min-width: 1025px) {
    .title {
        font-size: 20px;
        line-height: 3ch;
    }
}
