.outerContainer {
    display: flex;
    width: 174px;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .outerContainer {
        width: auto;
        min-width: 210px;
    }
}
.pinContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titleContainer {
    display: flex;
    flex-direction: column;
}
.pinContainer {
    display: flex;
    flex-direction: column;
}
.noteContainer {
    display: flex;
    white-space: pre-line;
    position: relative;
    overflow: hidden;
    max-height: 70px;
    flex-direction: column;
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 10%, transparent 100%);
}
.tagContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.timeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageSegmentStyle {
    max-height: 250px;
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    padding: 0px !important;
    overflow: hidden !important;
}

.image {
    object-fit: cover;
    width: 110%;
    height: 110%;
}
