@import "../../../App.module.css";

.Segment {
    width: 300px;
    margin-bottom: 18px;
}

@media only screen and (max-width: 900px) {
    .Segment {
        width: 373px;
    }
}

@media only screen and (max-width: 600px) {
    .Segment {
        width: auto;
        min-width: 230px;
    }
}

.headingContainer {
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    align-items: right;
}

.heading {
    display: flex;
    width: 60%;
}
.time {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}

.space {
    width: 5px;
}

.tagContainer {
    color: var(--colour-darkgray);
}
