@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.container {
    margin-top: 8.5rem;
    margin-left: 2.5vw;
    margin-right: 1.5vw;
    width: 170px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #666666;
    height: 150px;
}

.text {
    margin-top: 110px;
}
