/* For the profile, tag icon  and side menu */

.staticLeft {
    display: flex;
    flex-direction: row;
}

/* For the search bar and help (question mark) */
.containerRight {
    padding-top: 25px;
    margin-left: 40px;
    display: flex;
    width: 250px;
    height: 70px;
    flex-direction: column;
    align-items: flex-end;
}
