/* For the profile, tag icon  and side menu */
.containerLeft {
    display: flex;
    width: 22%;
    flex-direction: column;
    align-items: flex-start;
    background-color: cadetblue;
}

/* For the search bar and help (question mark) */
.containerRight {
    padding-top: 20px;
    padding-right: 60px;
    display: flex;
    width: 250px;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    background-color: burlywood;
}

/* Formats the side menu */
.sideContainer {
    display: flex;
    height: 90vh;
    width: 150px;
    padding-top: 5vh;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-top: 10px;
    padding-left: 10px;
    align-items: left;
}

.input {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: left;
}
